<% form_with model:@user do |form|%>
  <%= form.label :avatar_image %>
  <%= form.file_field :avatar %>
  <div>
  <%= form.file_field :image %>
  </div>
  <div>
  <%= form.label :name %>
  <%= form.text_field :name %>
  </div><br/>
  <div>
  <%= form.label :phone %>
  <%= form.text_field :phone %>
  </div><br/>
  <div>
  <%= form.label :address %>
  <%= form.text_field :address %>
  </div><br/>
  <%= form.submit %>
  </div>
<%end%>