<div class="user_home">
  <%= render "home/header"%>

  <div class="welcome_msz">
   <h1>Hello!</h1>
   <h1><%= current_user.first_name %></h1>
  </div>
  <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
  <% if can? :create,:update, @books%>
    <div>
      <h5><%= link_to "Create Book", new_book_url %></h5>
    </div>
    <div>
      <h5><%= link_to "Borrowings", borrowings_path %></h5>
    </div>
  <% end %>

  <%= render "home/all_book" , locals: { book: @book } %>
 
</div>

