<div class="container">
  <div class="row">
    <% @books.each_with_index do |book,index|%>
    <div class="col-3">
      <div class="book-container">
        <div class="book-image">
          <img src="https://static.vecteezy.com/system/resources/previews/004/319/237/original/opened-book-with-empty-pages-free-vector.jpg" alt="Book Cover">
        </div>
        <div class="book-info">      
          <h2 class="book-title"><b>Title: <%= book.title %></b></h2>
          <p class="book-author"> Author: <%=  book.author.name %></p>
          <p class="book-publisher">Publisher: <%=  book.author.name %></p>
          <%if user_signed_in?%>
            <%if current_user.user_type == "librarian"%>
              <%= link_to "Destroy", book_path(book.id), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure? You want to delete this Book"
                    } ,class:"btn btn-primary" %>
              <%= link_to "View", book_path(book.id), class:"btn btn-primary" %>
            <%else%>
              <%= link_to "Borrow", borrow_book_user_path(book_id: book.id), class:"btn btn-primary" %>
              <!-- <button class="btn btn-primary"> Borrow </button> -->
              <%= link_to "View", book_path(book.id), class:"btn btn-primary" %>
             <% end %>
          <%else%>
            <%= link_to "View", book_path(book.id), class:"btn btn-primary" %>
          <% end %>
          <% if can? :update, @books%>
            <%= link_to "Edit", edit_book_path(book),class:"btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- <!-- <% break if index >= 100 %> -->
    <% end %> 
  </div>
</div>

<!-- <% @books.each do |book|%>
  <div class="book-container">
    <div class="book-image">
      <img src="#" alt="Book Cover">
    </div>
    <div class="book-info">      
      <h2 class="book-title"><%= link_to book.title, book_path(book.id) %></h2>
      <p class="book-author">Book Author</p>
      <p class="book-publisher">Book Publisher</p>
      
      <button class="borrow-button">Borrow</button>
    </div>
    <% end %> -->

    <%# borrow_book_path(book.id),"borrow_book/#{book.id}" %>