<%#= render "/header"%>
  <%= render "header"%>
<%# <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<div style= "font-size:30px">
<!-- <%if user_signed_in?%>
  <%# <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
  <a href="/users/<%= current_user.id%>">
      <%="View profile" %></a>
<%else %>
<%= link_to  "Sign in", new_user_session_path %>
<%= link_to "Sign up",  new_user_registration_path, method: :post %>

<%end%> -->
<!-- 
<% @books.each do |book|%>
  <ul><li><%= link_to book.title, book_path(book.id) %></li></ul>
<% end %>
</div> -->
<%= render "users/form"%>
<%= render "users/form", user: @user %>
<%= render "all_book" %>
<%= render "footer" %>


<!-- <!DOCTYPE html>
<html>
<head>
  <title>Book Container View</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class= "wrapper">
  <% @books.each do |book|%>
  <div class="book-container">
    <div class="book-image">
      <img src="#" alt="Book Cover">
    </div>
    <div class="book-info">      
      <h2 class="book-title"><%= link_to book.title, book_path(book.id) %></h2>
      <p class="book-author">Book Author</p>
      <p class="book-publisher">Book Publisher</p>
      
      <button class="borrow-button">Borrow</button>
    </div>
    <% end %>
  </div>
</div>
</body>
</html> -->


