<%= render "home/header"%>

<h1>All Borrowings</h1>
<p> Check for latest borrowing request at Bottom </p>

<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">issue_date</th>
      <th scope="col">due_date</th>
      <th scope="col">returned_date</th>
      <th scope="col">user_name</th>
      <th scope="col">book_title</th>
      <th scope="col">Status</th>
      <th scope="col">Approve Request</th>
      <th scope="col">Returned</th>
    </tr>
  </thead>
  <tbody>
    <% @borrowings.each_with_index do |borrowing,index|%>
    <tr>
      <td colspan="row"><%= index%></td>
      <td colspan="row"><%= borrowing.issue_date%></td>
      <td colspan="row"><%= borrowing.due_date%></td>
      <td colspan="row"><%= borrowing.returned_date%></td>
      <td colspan="row"><%= borrowing.user.first_name%></td>
      <td colspan="row"><%= borrowing.book.title%></td>
      <td colspan="row"><%= borrowing.status%></td>
      <td colspan="row"><%=link_to "Approve", edit_borrowing_path(borrowing.id),class: "btn btn-secondary"%></td>
      <td colspan="row"><%=link_to "Return", edit_borrowing_path(borrowing.id),class: "btn btn-secondary"%></td>
     
      

    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back", :back, class: "btn btn-secondary", style: "margin-top: 10px;" %>



